{% extends 'main/layout/layout.html' %}

{% block title %}More{% endblock %}

{% block content %}

<a href="{% url 'casino_home' %}" class="more-card casino">
    <i class="fa-solid fa-dice"></i>
    <span>MMM-Casino ALPHA</span>
</a>

<a href="#" class="more-card tools">
    <i class="fa-solid fa-hammer"></i>
    <span>WIP</span>
</a>

<a href="#" class="more-card stats">
    <i class="fa-solid fa-hammer"></i>
    <span>WIP</span>
</a>

<a href="#" class="more-card vip">
    <i class="fa-solid fa-hammer"></i>
    <span>WIP</span>
</a>

{% endblock %}