{% extends 'main/users/users_layout.html' %}

{% block title %}Pay extra{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-card">

        <h1>Pay extra</h1>

        <p class="login-subtitle">
            Choose loan and amount
        </p>


        {% if messages %}
            {% for message in messages %}
                <div class="{% if message.tags == 'success' %}login-success{% else %}login-error{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}


        {% if loans %}
        <form method="POST">

            {% csrf_token %}


           <div class="input-group">

    <i class="fa-solid fa-money-bill"></i>

    <select name="loan"
            required
            class="custom-input"
            style="padding-left:35px;">

        <option value="">
            Select loan
        </option>

        {% for loan in loans %}
            <option value="{{ loan.id }}">
                {{ loan.client_name }} — ${{ loan.amount }}
            </option>
        {% endfor %}

    </select>

</div>



            <!-- AMOUNT -->

            <div class="input-group">

                <i class="fa-solid fa-money-bill"></i>

                <input
                    type="number"
                    name="amount"
                    placeholder="Amount"
                    required
                    class="custom-input"
                >

            </div>



            <button type="submit" class="login-btn">
                Pay
            </button>


        </form>
        {% else %}
            <div class="login-subtitle">
                You have no active credits available for extra payment.
            </div>
        {% endif %}



        <a href="{% url 'credits' %}"
           class="login-btn"
           style="margin-top:10px; display:block; text-align:center;">

            ← Back

        </a>


    </div>

</div>

{% endblock %}
