<div class="auth-container">
  <div class="auth-card">

    <div class="auth-header">
      <div class="logo">MMM Bank</div>
      <h1>{{ isLogin ? 'Welcome back!' : (currentStep === 1 ? 'Get Started' : currentStep === 2 ? 'Security' : 'About You') }}</h1>

      <div class="stepper" *ngIf="!isLogin">
        <div class="step" [class.active]="currentStep >= 1"></div>
        <div class="step" [class.active]="currentStep >= 2"></div>
        <div class="step" [class.active]="currentStep >= 3"></div>
      </div>
    </div>

    <form [formGroup]="authForm" (submit)="$event.preventDefault()">

      <div *ngIf="isLogin">
        <div class="form-group">
          <label>Username</label>
          <input type="text" formControlName="username" placeholder="Enter username">
        </div>
        <div class="form-group password-field">
          <label>Password</label>
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="••••••••">
          <i class="eye-icon {{ showPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'  }}" (click)="togglePassword()"></i>
        </div>
      </div>

      <div *ngIf="!isLogin && currentStep === 1">
        <div class="form-group" *ngIf="!isCodeSent">
          <label>Email Address</label>
          <input type="email" formControlName="email" placeholder="name@email.com" [readonly]="isCodeSent">
          <small class="error-text" *ngIf="emailError">
            {{ emailError }}
          </small>
        </div>

        <div class="otp-wrapper" *ngIf="isCodeSent">
          <p>We have sent the code to {{ authForm.get('email')?.value }}</p>
          <div class="otp-inputs">
            <input #otpInput type="text" maxlength="1" (input)="onOtpInput($event, 0)">
            <input #otpInput type="text" maxlength="1" (input)="onOtpInput($event, 1)">
            <input #otpInput type="text" maxlength="1" (input)="onOtpInput($event, 2)">
            <input #otpInput type="text" maxlength="1" (input)="onOtpInput($event, 3)">
            <input #otpInput type="text" maxlength="1" (input)="onOtpInput($event, 4)">
            <input #otpInput type="text" maxlength="1" (input)="onOtpInput($event, 5)">
          </div>
        </div>

        <button
          type="button"
          class="btn-primary"
          *ngIf="!isCodeSent"
          (click)="sendEmailCode()"
          [disabled]="isLoading || authForm.get('email')?.invalid">
          {{ isLoading ? 'Sending...' : 'Send Verification Code' }}
        </button>

        <button
          type="button"
          class="btn-success"
          *ngIf="isCodeSent"
          (click)="checkCode()"
          [disabled]="verificationCode.length < 6">
          Verify Code & Continue
        </button>
      </div>

      <div *ngIf="!isLogin && currentStep === 2">
        <div class="form-group">
          <label>Create Username</label>
          <input type="text" formControlName="username" (input)="onUsernameChange()" placeholder="At least 3 characters">
          <small class="error-text" *ngIf="usernameError">{{ usernameError }}</small>
          <small class="error-text" *ngIf="authForm.get('username')?.touched && authForm.get('username')?.errors?.['minlength']">
            Username must be at least 3 characters.
          </small>
        </div>
        <div class="form-group password-field">
          <label>Password</label>
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Min. 8 characters">
          <i class="eye-icon {{ showPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'  }}" (click)="togglePassword()"></i>
          <small class="error-text" *ngIf="authForm.get('password')?.touched && authForm.get('password')?.errors?.['minlength']">
            Password is too short (min 8).
          </small>
        </div>
        <div class="form-group password-field">
          <label>Confirm Password</label>
          <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Repeat password">
          <i class="eye-icon {{ showConfirmPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'  }}" (click)="toggleConfirmPassword()"></i>
          <small class="error-text" *ngIf="authForm.hasError('passwordMismatch') && authForm.get('confirmPassword')?.touched">
            Passwords do not match.
          </small>
        </div>
        <div class="btn-group">
          <button type="button" class="btn-primary"
                  (click)="nextStep()"
                  [disabled]="authForm.get('username')?.invalid ||
                   authForm.get('password')?.invalid ||
                   authForm.get('confirmPassword')?.invalid ||
                   authForm.hasError('passwordMismatch') ||
                   !!usernameError">
            Next
          </button>
        </div>
      </div>

      <div *ngIf="!isLogin && currentStep === 3">
        <div class="step-header">
          <h2>Personal data</h2>
          <p>This information is required to open an account</p>
        </div>

        <div class="row">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName" placeholder="John">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" placeholder="Doe">
          </div>
        </div>

        <div class="form-group">
          <label>Nationality</label>
          <select formControlName="nationality" class="custom-select">
            <option value="" disabled selected>Select your country</option>
            <option value="Ukrainian">Ukraine 🇺🇦</option>
            <option value="Polish">Poland 🇵🇱</option>
            <option value="German">Germany 🇩🇪</option>
            <option value="French">France 🇫🇷</option>
            <option value="USA">USA 🇺🇸</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="address-grid">
          <div class="form-group city">
            <label>City</label>
            <input type="text" formControlName="city" placeholder="Kyiv">
          </div>
          <div class="form-group street">
            <label>Street</label>
            <input type="text" formControlName="street" placeholder="Khreshchatyk St">
          </div>
          <div class="form-group building">
            <label>Bld.</label>
            <input type="text" formControlName="building" placeholder="10/2">
          </div>
        </div>

        <div class="btn-group">
          <button type="submit" class="btn-success"
                  [disabled]="authForm.invalid"
                  (click)="onSubmit()">
            Complete & Open Account
          </button>
        </div>
      </div>

      <button
        type="button"
        class="btn-primary"
        *ngIf="isLogin"
        [disabled]="authForm.get('username')?.invalid || authForm.get('password')?.invalid"
        (click)="onSubmit()">
        Log In
      </button>
    </form>

    <div class="auth-footer">
      <p>{{ isLogin ? "Don't have an account?" : "Already have an account?" }}
        <span (click)="toggleMode()">{{ isLogin ? 'Create' : 'Login' }}</span>
      </p>
    </div>
  </div>
</div>
