.idea/
.vscode/
.DS_Store
Thumbs.db

.venv/
env/
venv/
ENV/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
db.sqlite3
.env
*.log

/backend/staticfiles/

**/node_modules/
**/.angular/
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/src/environments/environment.development.ts
**/src/environments/environment.ts