{% extends 'main/layout/layout.html' %}

{% block title%}{{ request.user.username }} Account {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="row g-5">
            <div class="col">
                <h1 style="font-size: 30px;">MMM Balance </h1>

                <div class="card balance-card">
                    <div class="card-top">
                        <span class="card-title"> </span>
                        <h1 style="font-size: 30px;">MMM</h1>
                    </div>

                    <div class="card-bottom">
                        <div class="card-balance">${{ balance }}</div>
                    </div>
                </div>
                {% include 'main/buttons/active_button.html' %}
            </div>
            <div class="col">
                <h1 style="font-size: 30px;">My Activity</h1>
                {% include 'main/layout/stats.html' %}
            </div>
        </div>

        <div class="row g-5">
            <div class="col">
                {% include 'main/layout/transaction.html' %}
            </div>
            <div class="col">
                {% include 'main/contacts/contacts.html' %}
            </div>
        </div>

        
    {% else %}
        {% include 'main/layout/non_login_users.html' %}
    {% endif %}
{% endblock %}