{% extends 'main/layout/layout.html' %}

{% block title%}Homepage{% endblock %}

{% block content%}
    {% if request.user.is_authenticated %}
        <h1 style="font-size: 50px;">Welcome back, <strong>{{ request.user.username }}</strong></h1>
        <p>Here's your financial overview</p>
        <div class="stats-wrapper">
            <div class="stat-card">
                <div class="stat-top">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <span class="badge positive">+12.5%</span>
                </div>
                <p class="stat-title">Total Income</p>
                <h2>$12,845.00</h2>
            </div>

            <div class="stat-card">
                <div class="stat-top">
                    <i class="fa-solid fa-arrow-trend-down"></i>
                    <span class="badge negative">-8.3%</span>
                </div>
                <p class="stat-title">Total Expenses</p>
                <h2>$8,234.50</h2>
            </div>

            <div class="stat-card">
                <div class="stat-top">
                    <i class="fa-solid fa-bullseye"></i>
                    <span class="badge positive">73% reached</span>
                </div>
                <p class="stat-title">Savings Goal</p>
                <h2>$15,000.00</h2>
            </div>

            <div class="stat-card">
                <div class="stat-top">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span class="badge positive">+15.7%</span>
                </div>
                <p class="stat-title">Investments</p>
                <h2>$24,567.89</h2>
            </div>

        </div>

        <h1 style="font-size: 30px; margin-top: 50px;">Your Cards</h1>
        <section class="cards-section">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">Debit Card</span>
                    <div class="card-icon"><i class="fa-solid fa-credit-card"></i></div>
                </div>

                <div class="card-balance">$12,845.50</div>

                <div class="card-info">
                    <span class="label">Account Number</span>
                    <span class="number">•••• 4321</span>
                </div>

                <div class="card-change positive">+5.2%</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <span class="card-title">Credit Card</span>
                    <div class="card-icon"><i class="fa-solid fa-credit-card"></i></div>
                </div>

                <div class="card-balance">$24,567.89</div>

                <div class="card-info">
                    <span class="label">Account Number</span>
                    <span class="number">•••• 8765</span>
                </div>

                <div class="card-change positive">+12.8%</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <span class="card-title">Deposite Card</span>
                    <div class="card-icon"><i class="fa-solid fa-credit-card"></i></div>
                </div>

                <div class="card-balance">$3,421.00</div>

                <div class="card-info">
                    <span class="label">Account Number</span>
                    <span class="number">•••• 9012</span>
                </div>

                <div class="card-change negative">-2.4%</div>
            </div>
        </section>

        <section class="transactions">
            <div class="transactions-header">
                <h2>Recent Transactions</h2>
                <a href="#" class="view-all">View All</a>
            </div>

            <div class="transaction-list">

                <div class="transaction-item">
                <div class="transaction-left">
                    <div class="icon"></div>
                    <div>
                    <div class="title">Amazon Purchase</div>
                    <div class="category">Shopping</div>
                    </div>
                </div>
                <div class="transaction-right negative">
                    <div class="amount">- $124.99</div>
                    <div class="date">Today, 2:30 PM</div>
                </div>
                </div>

                <div class="transaction-item">
                <div class="transaction-left">
                    <div class="icon income"></div>
                    <div>
                    <div class="title">Salary Deposit</div>
                    <div class="category">Income</div>
                    </div>
                </div>
                <div class="transaction-right positive">
                    <div class="amount">+ $4,250.00</div>
                    <div class="date">Today, 9:00 AM</div>
                </div>
                </div>

                <div class="transaction-item">
                <div class="transaction-left">
                    <div class="icon income"></div>
                    <div>
                    <div class="title">Salary Deposit</div>
                    <div class="category">Income</div>
                    </div>
                </div>
                <div class="transaction-right positive">
                    <div class="amount">+ $4,250.00</div>
                    <div class="date">Today, 9:00 AM</div>
                </div>
                </div>

                <div class="transaction-item">
                <div class="transaction-left">
                    <div class="icon income"></div>
                    <div>
                    <div class="title">Salary Deposit</div>
                    <div class="category">Income</div>
                    </div>
                </div>
                <div class="transaction-right positive">
                    <div class="amount">+ $4,250.00</div>
                    <div class="date">Today, 9:00 AM</div>
                </div>
                </div>

                <div class="transaction-item">
                <div class="transaction-left">
                    <div class="icon income"></div>
                    <div>
                    <div class="title">Salary Deposit</div>
                    <div class="category">Income</div>
                    </div>
                </div>
                <div class="transaction-right positive">
                    <div class="amount">+ $4,250.00</div>
                    <div class="date">Today, 9:00 AM</div>
                </div>
                </div>

                <div class="transaction-item">
                <div class="transaction-left">
                    <div class="icon income"></div>
                    <div>
                    <div class="title">Salary Deposit</div>
                    <div class="category">Income</div>
                    </div>
                </div>
                <div class="transaction-right positive">
                    <div class="amount">+ $4,250.00</div>
                    <div class="date">Today, 9:00 AM</div>
                </div>
                </div>

                <div class="transaction-item">
                <div class="transaction-left">
                    <div class="icon income"></div>
                    <div>
                    <div class="title">Salary Deposit</div>
                    <div class="category">Income</div>
                    </div>
                </div>
                <div class="transaction-right positive">
                    <div class="amount">+ $4,250.00</div>
                    <div class="date">Today, 9:00 AM</div>
                </div>
                </div>

            </div>
        </section>
    {% else %}
        <h1 style="font-size: 50px;">ЗАЛОГІНСЯ А ТО САЙТ НЕ ДОКІНЦЯ БУДЕ ПРАЦЮВАТИ!!!!</h1>
    {% endif %}
{% endblock %}