<div class="quick-actions">
    <a href="{% url 'create_an_invoice' %}" class="action-btn">
        <i class="fa-solid fa-file-lines"></i>
        <span>Create an Invoice</span>
    </a>

    <a href="{% url 'transfer_to_bank' %}" class="action-btn">
        <i class="fa-solid fa-building-columns"></i>
        <span>Transfer to Bank</span>
    </a>

    <a href="{% url 'resolution_centre' %}" class="action-btn">
        <i class="fa-solid fa-handshake-angle"></i>
        <span>Resolution Centre</span>
    </a>
</div>