{% extends 'main/layout/layout.html' %}

{% block title %}Resolution Centre{% endblock %}

{% block content %}
<section class="transactions">

  <div class="transactions-header">
    <h1 style="font-size: 30px;">Resolution Center</h1>
    <span class="login-subtitle">Report a problem with a transaction</span>
  </div>

  <div class="transaction-list">

    {% for transaction in transactions %}
      <a href="{% url 'report_transaction' transaction.id %}" class="transaction-item resolution-item">

        <div class="transaction-left">
          <div class="icon">
            <i class="{{ transaction.category.icon }}"></i>
          </div>
          <div>
            <div class="title">{{ transaction.title }}</div>
            <div class="category">{{ transaction.created_at }}</div>
          </div>
        </div>

        <div class="transaction-right negative">
          <div class="amount">
            -${{ transaction.amount }}
          </div>
          <div class="date">
            Report →
          </div>
        </div>

      </a>
    {% endfor %}
  </div>
</section>
{% endblock %}