{% extends 'main/layout/layout.html' %}

{% block title%}{{ request.user.username }} Account {% endblock %}

{% block content%}
  <section class="contacts-page">
    <div class="contacts-card">
      <h2>Send Money to {{ friend.username }}</h2>
      {% if error %}
        <p style="color:red">{{ error }}</p>
      {% endif %}
        <form method="post">
          {% csrf_token %}

          <label>Amount:</label>
          <div class="input-group">
            <i class="fa-solid fa-dollar-sign"></i>
            <input type="number" name="amount" required>
          </div>

          <button class="login-btn"> Send money </button>
        </form>
      <a href="{% url 'contacts_list' %}">Back to contacts</a>
    </div>
  </section>
{% endblock %}