{% extends 'main/users/users_layout.html' %}

{% block title %}MMMog in{% endblock %}

{% block content %}

<div class="login-page">
    <div class="login-card">
        <h1>Welcome back</h1>
        <p class="login-subtitle">MMMog in to your account</p>

        {% if messages %}
        <div class="login-error">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="POST" action="/login">
            {% csrf_token %}
            <div class="input-group">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" placeholder="Username" required>
            </div>

            <div class="input-group">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <button type="submit" class="login-btn">
                Log in
            </button>
        </form>
        <div class="login-footer">
            Don’t have an account?
            <a href="/register">Create one</a>
        </div>

    </div>
</div>

{% endblock %}