{% extends 'main/layout/layout.html' %}

{% block title %}Deposits{% endblock %}

{% block content %}

<style>

.page{
font-family: Arial;
background:#f2f2f2;
min-height:100vh;
}

.header{
background:linear-gradient(180deg,#0f4ea8,#4a8edb);
color:white;
padding:40px 20px;
text-align:center;
border-bottom-left-radius:25px;
border-bottom-right-radius:25px;
}

.cards{
padding:20px;
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.card{
background:white;
border-radius:20px;
padding:25px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
font-weight:600;
font-size:18px;
text-decoration:none;
color:black;
display:block;
transition:0.2s;
}

.card:hover{
transform:scale(1.03);
}

.big{
grid-column:span 2;
}

.icon{
font-size:30px;
margin-bottom:10px;
}

</style>

<div class="page">

<div class="header">
<h2>Savings</h2>
<p>You can open a deposit or create a savings jar</p>
</div>

<div class="cards">

<a href="{% url 'open_deposit' %}" class="card big">
<div class="icon">💰</div>
Open Deposit
</a>

<a href="{% url 'piggy_bank' %}" class="card">
<div class="icon">🐷</div>
Create Piggy Bank
</a>

<a href="{% url 'buy_bonds' %}" class="card">
<div class="icon">📈</div>
Buy Bonds
</a>

</div>

</div>


{% endblock %}