{% extends 'more/casino/game_layout.html' %}

{% block title %}Slots{% endblock %}

{% block content %}


<div class="login-page">
    <div class="slots-container">

        <div class="card balance-card">
            <div class="card-top">
                <span class="card-title"> </span>
                <h1 style="font-size: 30px;">MMM</h1>
            </div>

            <div class="card-bottom">
                <div class="card-balance">${{ balance }}</div>
            </div>
        </div>

        <div class="slot-machine">

            <div class="reels">
                <div class="reel" id="reel1">🍒</div>
                <div class="reel" id="reel2">🍋</div>
                <div class="reel" id="reel3">🍊</div>
            </div>

            <div class="controls">
                <button class="spin-btn" onclick="spin()">SPIN</button>
            </div>

            <div class="result" id="resultText"></div>

            <div class="casino-footer">
                <a href="{% url 'casino_home' %}">
                    ← Back to casino
                </a>
            </div>

        </div>
    </div>
</div>


<script>
    let balance = Number("{{ balance }}");

    const symbols = ["🍒", "🍋", "🍊", "⭐", "💎"];

    function getRandomSymbol() {
        return symbols[Math.floor(Math.random() * symbols.length)];
    }

    function spin() {
        if (balance < 10) {
            alert("Not enough balance!");
            return;
        }

        balance -= 10;

        const r1 = document.getElementById("reel1");
        const r2 = document.getElementById("reel2");
        const r3 = document.getElementById("reel3");

        const resultText = document.getElementById("resultText");

        let spins = 10;
        let interval = setInterval(() => {
            r1.innerText = getRandomSymbol();
            r2.innerText = getRandomSymbol();
            r3.innerText = getRandomSymbol();

            spins--;

            if (spins <= 0) {
                clearInterval(interval);

                const s1 = getRandomSymbol();
                const s2 = getRandomSymbol();
                const s3 = getRandomSymbol();

                r1.innerText = s1;
                r2.innerText = s2;
                r3.innerText = s3;

                checkWin(s1, s2, s3);
            }
        }, 100);

        updateBalance();
    }

    function checkWin(a, b, c) {
        let win = 0;

        if (a === b && b === c) {
            win = 100;
        } else if (a === b || b === c || a === c) {
            win = 20;
        }

        balance += win;

        document.getElementById("resultText").innerText =
            win > 0 ? `You won $${win}` : "Try again";

        updateBalance();
    }

    function updateBalance() {
        document.getElementById("balance").innerText = "$" + balance;
    }
</script>

{% endblock %}

