<section class="cards-section">
    <div class="card">
        <div class="card-header">
            <span class="card-title">Debit Card</span>
            <div class="card-icon"><i class="fa-solid fa-credit-card"></i></div>
        </div>

        <div class="card-balance">${{ balance }}</div>

        <div class="card-info">
            <span class="label">Account Number</span>
            <span class="number">{{ card.masked_number }}</span>
        </div>
        <div class="card-change">{{ card.type }}</div>
    </div>

    <div class="card">
        <center><h1 style="margin-top: 70px">WIP</h1></center>
    </div>
    <div class="card">
        <center><h1 style="margin-top: 70px">WIP</h1></center>
    </div>
</section>