{% load static %}
<section class="contacts">
    <div class="contacts-header">
        <h2>Contacts</h2>
        <a href="#" class="view-all">More</a>
    </div>

    <div class="contact-list">
        <div class="contact-item">
            <div class="contact-left">
                <div class="icon"><img src="https://github.com/Fev1L.png" class="contact-avatar"></div>
                <div class="contact-info">
                    <div class="contact-name">Fev1L</div>
                    <div class="contact-time">Today</div>
                </div>
            </div>
            <div class="contact-actions">
                <a href="#" class="send-btn">Send</a>
                <a href="#" class="request-btn">Request</a>
            </div>
        </div>

        <div class="contact-item">
            <div class="contact-left">
                <div class="icon"><img src="https://github.com/dimachubuk15.png" class="contact-avatar"></div>
                <div class="contact-info">
                    <div class="contact-name">dimachubuk15</div>
                    <div class="contact-time">Today</div>
                </div>
            </div>
            <div class="contact-actions">
                <a href="#" class="send-btn">Send</a>
                <a href="#" class="request-btn">Request</a>
            </div>
        </div>

        <div class="contact-item">
            <div class="contact-left">
                <div class="icon"><img src="https://github.com/SanyaG23.png" class="contact-avatar"></div>
                <div class="contact-info">
                    <div class="contact-name">SanyaG23</div>
                    <div class="contact-time">Today</div>
                </div>
            </div>
            <div class="contact-actions">
                <a href="#" class="send-btn">Send</a>
                <a href="#" class="request-btn">Request</a>
            </div>
        </div>
    </div>

</section>