{% extends 'main/users/users_layout.html' %}

{% block title %} Send Money {% endblock %}

{% block content %}
<div class="login-page">

    <div class="login-card goal-card">

        <h1>Create Goal 🎯</h1>
        <p class="login-subtitle">
            Set your financial target and track your progress
        </p>

        {% if error %}
        <div class="login-error">
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <i class="fa-solid fa-dollar-sign"></i>
                <input
                        type="number"
                        name="saving_goal"
                        step="0.01"
                        placeholder="Target amount"
                        required
                >
            </div>

            <button type="submit" class="login-btn goal-btn">
                Create Goal
            </button>
        </form>


        <div class="login-footer">
            <a href="{% url 'home' %}">
                ← Stay focused. Every step counts 💪
            </a>
        </div>

    </div>

</div>
{% endblock %}