<section class="stats-wrapper">
    <div class="stat-card">
        <div class="stat-top">
            <i class="fa-solid fa-arrow-trend-up"></i>
<!--            <span class="badge positive">+12.5%</span>-->
        </div>
        <p class="stat-title">Total Income</p>
        <h2>${{ total_income }}</h2>
    </div>

    <div class="stat-card">
        <div class="stat-top">
            <i class="fa-solid fa-arrow-trend-down"></i>
<!--            <span class="badge negative">-8.3%</span>-->
        </div>
        <p class="stat-title">Total Expenses</p>
        <h2>${{ total_expenses }}</h2>
    </div>

    <a href="goals" class="stat-card">
        <div class="stat-top">
            <i class="fa-solid fa-bullseye"></i>
<!--            <span class="badge positive">73% reached</span>-->
        </div>
        <p class="stat-title">Savings Goal</p>
        <h2>${{ saving_goal }}</h2>
    </a>

    <div class="stat-card">
        <div class="stat-top">
            <i class="fa-solid fa-dollar-sign"></i>
<!--            <span class="badge positive">+15.7%</span>-->
        </div>
        <p class="stat-title">Investments</p>
        <h2>${{ investments }}</h2>
    </div>
</section>