export const environment = {
  production: true,   In the environment.development file, you need to set the value to false
  firebase: {
    apiKey: "YOUR_API_KEY",
    authDomain: "your-project.firebaseapp.com",
    projectId: "your-project-id",
    storageBucket: "your-project.appspot.com",
    messagingSenderId: "your-id",
    appId: "your-app-id"
  },
  apiUrl: 'http://localhost:8000' // URL to your Django backend
};
