body {
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(
        120deg,
        #120a2f,
        #090517,
        #000000,
        #090517,
        #120a2f
    );

    background-size: 600% 600%;
    animation: gradientMove 25s ease infinite;
}
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* Floating container */
.bottom-nav {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
    padding: 20px 40px;
    background: rgba(40, 44, 52, 0.8);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

/* Each button */
.bottom-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 18px 24px;
    border-radius: 18px;
    text-decoration: none;
    color: #636262;
    transition: 0.3s ease;
    min-width: 90px;
}

.bottom-item i {
    font-size: 20px;
}

/* Hover */
.bottom-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

/* Active state */
.bottom-item.active {
    background-color: rgba(255, 255, 255, 0.08);
    color: rgb(93, 57, 237);
}
/* ////////////////////////////////////////////////////// */
.stats-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 10px;
}

.stat-card {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
    color: #ffffff;
    transition: 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-5px);
    border-color: rgba(93, 57, 237);
}

.stat-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stat-top i {
    font-size: 20px;
    color: #cfcfcf;
}

.stat-title {
    font-size: 14px;
    color: #9aa0a6;
    margin-bottom: 8px;
}

.stat-card h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

.badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}

.badge.positive {
    background: rgba(50, 200, 120, 0.15);
    color: #4ade80;
}

.badge.negative {
    background: rgba(255, 80, 80, 0.15);
    color: #f87171;
}
/* ////////////////////////////////////////////////////// */
.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 10px;
}

.card {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 30px;
  color: #ffffff;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  border-color: rgba(93, 57, 237);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card-title {
  font-size: 14px;
  color: #9ca3af;
}

.card-icon {
  width: 36px;
  height: 24px;
}

.card-balance {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.card-info {
  margin-bottom: 16px;
}

.label {
  display: block;
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 4px;
}

.number {
  color: #ffffff;
  font-size: 14px;
}

.card-change {
  font-size: 14px;
  font-weight: bold;
}

.positive {
  color: #22c55e;
}

.negative {
  color: #ef4444;
}
/* ////////////////////////////////////////////////////// */
.transactions {
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 24px;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.transactions-header h2 {
  color: #ffffff;
  font-size: 18px;
}

.view-all {
  color: #9ca3af;
  text-decoration: none;
  font-size: 14px;
}

.view-all:hover {
  color: #ffffff;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.transaction-item {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 16px;
  border-radius: 16px;
  transition: 0.2s ease;
}

.transaction-item:hover {
  transform: translateY(-5px);
  border-color: rgba(93, 57, 237);
}

.transaction-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: #374151;
}

.icon.income {
  background: #14532d;
}

.title {
  color: #ffffff;
  font-weight: 500;
}

.category {
  font-size: 13px;
  color: #9ca3af;
}

.transaction-right {
  text-align: right;
}

.amount {
  font-weight: 600;
}

.date {
  font-size: 13px;
  color: #9ca3af;
}

.positive .amount {
  color: #22c55e;
}

.negative .amount {
  color: #ef4444;
}