body {
  background-color: white;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 120px;
  background: linear-gradient(
      180deg,
      #5b3df5 0%,
      #7b61ff 40%,
      #a594ff 100%
  );
  z-index: 1000;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
  border-radius: 14px;
  transition: 0.25s;
}

.sidebar-item i {
  font-size: 20px;
}

.sidebar-item span {
  font-size: 12px;
}

.sidebar-item:hover {
  color: white;
  background: rgba(255,255,255,0.06);
}

.sidebar-item.active {
  color: rgb(0, 0, 0);
  background: rgba(255,255,255,1);
}

.row {
  display: flex;
  align-items: stretch;
  gap: 100px;
  margin-top: 20px;
}

.col {
  display: flex;
  flex-direction: column;
}
/* ////////////////////////////////////////////////////// */
.stats-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.stat-card {
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 30px;
  color: #000000;
  transition: 0.3s ease;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.stat-top i {
  font-size: 20px;
  color: #000000;
}

.stat-title {
  font-size: 14px;
  color: #000000;
  margin-bottom: 8px;
}

.stat-card h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
}

.badge.positive {
  background: rgba(50, 200, 120, 0.15);
  color: #4ade80;
}

.badge.negative {
  background: rgba(255, 80, 80, 0.15);
  color: #f87171;
}
/* ////////////////////////////////////////////////////// */
.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 10px;
}

.card {
  background: linear-gradient(
      180deg,
      #5b3df5 0%,
      #7b61ff 40%,
      #a594ff 100%
  );
  border-radius: 20px;
  padding: 30px;
  color: #ffffff;
  transition: 0.3s ease;
  height: 100%;
}

.balance-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-bottom {
  display: flex;
  align-items: flex-end;
}

.card:hover {
  transform: translateY(-4px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card-title {
  font-size: 14px;
  color: #9ca3af;
}

.card-icon {
  width: 36px;
  height: 24px;
}

.card-balance {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 4px;
}

.number {
  color: #9aa0a6;
  font-size: 14px;
}

.card-change {
  font-size: 14px;
  font-weight: bold;
}

.positive {
  color: #22c55e;
}

.negative {
  color: #ef4444;
}
/* ////////////////////////////////////////////////////// */
.transactions {
  border-radius: 20px;
  padding: 24px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 100%;
  border: none;
  outline: none;
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.transactions-header h2 {
  color: #9aa0a6;
  font-size: 18px;
}

.view-all {
  color: #9ca3af;
  text-decoration: none;
  font-size: 14px;
}

.view-all:hover {
  color: #ff0000;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.transaction-item {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 16px;
  border-radius: 16px;
  transition: 0.2s ease;
  border: none;
  outline: none;
}

.transaction-item:hover {
  transform: translateY(-5px);
}

.transaction-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
}

.icon.income {
  background: #14532d;
}

.title {
  color: #000000;
  font-weight: 500;
}

.category {
  font-size: 13px;
  color: #000000;
}

.transaction-right {
  text-align: right;
}

.amount {
  font-weight: 600;
}

.date {
  font-size: 13px;
  color: #000000;
}

.positive .amount {
  color: #22c55e;
}

.negative .amount {
  color: #ef4444;
}
/* ////////////////////////////////////////////////////// */
.quick-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.action-btn {
  aspect-ratio: 16 / 9;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 20px;
  background: rgb(255, 255, 255);

  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;

  color: #6b7280;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
}

.action-btn i {
  font-size: 28px;
}

.action-btn span {
  font-size: 14px;
}

.action-btn:hover {
  transform: translateY(-4px);
}